p{
    color: whitesmoke ;
    background-color:blue;
}
h2{
    color: aqua;
    background-color: red;
}

.red-text{
    color: red;
}

#main{
    color: magenta;
}


p[draggable]
{
    color: red;
}

h3{
    color: pink;
}